# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
# 忽略当前文件夹下的build 不添加到版本控制
build/

# 忽略app/build/不添加到版本控制
app/build

# 忽略.idea文件下的所有
.idea

# 忽略.gradle 文件夹
.gradle

# 忽略.gitattributes 文件夹
.gitattributes

# 忽略*.iml 文件夹
*.iml

# 忽略*.iml 文件夹
local.properties

# 忽略gradle.properties 文件夹
gradle.properties